* {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #333;
}

.navbar {
  display: flex;
  position: relative;
  padding: 1rem;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: #e7e7e7 2px solid;
}

.navbar h1 {
  color: #6b2bde;
}

.navbar .links {
  position: relative;
  z-index: 2;
  display: flex;
  /* grid-template-columns: repeat(5, 1fr); */
}

ul {
  list-style: none;
  text-align: center;
}


.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  background: #6822e973;
  color: #0a0414;
  border-radius: 5px;
  padding: 30;
  transition: all ease-out 0.3s;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.mtb {
  margin: 20px 30px;
}
.mtb h1 {
  padding-top: 20px;
}
.preview-list {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.preview-list:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.preview-list h2 {
  font-size: 20px;
  color: #6b2bde;
  margin-bottom: 8px;
}

.preview-list p span {
  font-style: italic;
  font-weight: 300;
  opacity: 1;
}