* {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #333;
}

.navbar {
  display: flex;
  position: relative;
  padding: 1rem;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: #e7e7e7 2px solid;
}

.navbar h1 {
  color: #6b2bde;
}

.navbar .links {
  position: relative;
  z-index: 2;
  display: flex;
  /* grid-template-columns: repeat(5, 1fr); */
}

ul {
  list-style: none;
  text-align: center;
}


.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  background: #6822e973;
  color: #0a0414;
  border-radius: 5px;
  padding: 30;
  transition: all ease-out 0.3s;
}

.content {
  margin: 40px auto;
  padding: 20px;
}

.mtb {
  margin: 20px 30px;
}
.mtb h1 {
  padding-top: 20px;
}
.preview-list {
  max-width: 650px;
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.preview-list:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.preview-list h2 {
  font-size: 20px;
  color: #6b2bde;
  margin-bottom: 8px;
}

.preview-list p span {
  font-style: italic;
  font-weight: 300;
  opacity: 1;
}

.blogListing .preview-list button {
  font-size: 12px;
  padding: 4px 7px;
  margin: 5px 3px;
  border-radius: 5px;
}

.blogListing .preview-list .edit {
  border: 1px solid skyblue;
  background: skyblue;
}

.blogListing .preview-list .del {
  border: 1px solid lightcoral;
  background: lightcoral;
}

.blogListing .preview-list > button:hover {
  border: 1px solid gray;
  letter-spacing: 0.2px;
  transition: all ease-in-out 0.2s;
  opacity: 0.8;
}

.loader {
  width: 900px;
  margin-top: 30px;
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  animation-duration: 1.7s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #3b3a3a 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: auto;
  position: relative;
}


@keyframes placeHolderShimmer {
  0% {
    background-position: -800px 0
  }
  100% {
    background-position: 800px 0
  }
}

.loader .aniMe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  box-shadow: 0 10px 45px rgba(0, 0, 0, .2);
  background-repeat: no-repeat;
  animation-name: placeHolderShimmer;
  
  background-image:
    radial-gradient(lightcoral 2px, lightgray 99%, transparent 0),
    linear-gradient(lightgray, lightgray),
    linear-gradient(lightgray, rgb(21, 103, 209)),
    linear-gradient(lightgray, rgb(211, 211, 211)),
    linear-gradient(lightgray, rgb(134, 176, 231)),
    linear-gradient(#fff, #e2e9ecbd); 
  
  background-size:
    32px 32px,
    200px 32px,
    280px 24px,
    430px 36px,
    570px 40px,
    100% 100%;
  
  background-position:
    24px 30px,
    66px 30px,
    24px 90px,
    24px 142px,
    24px 205px,
    0 0;
}

.loader .aniMe p {
  color: #979191;
  font-size: 15px;
  font-weight: 700;
  /* background: linear-gradient(to right, #eeeeee, #9e9999 , #eeeeee); */
  margin-top: 50px;
  text-align: center;
}