* {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: center;
  margin: 0 auto;
  border-bottom: #e7e7e7 2px solid;
}

.navbar h1 {
  color: #6b2bde;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #6b2bde;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}